/* Tüm öğelerin iç boşluğunu ve dış boşluğunu sıfırlar ve kenar kutusunu sınırlar */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Font ailesini belirtmelisiniz */
    font-family: ;
}

/* Body arka plan rengini ayarlar */
body {
    background-color: #121317;
}

/* Dış sarmalayıcıyı (wrapper) stile göre ayarlar */
.wrapper {
    /* Beyaz bir kenar sınırı oluşturur */
    border: 1px solid white;
    
    /* Mutlak konumlandırma kullanarak sarmalayıcıyı (wrapper) merkeze hizalar */
    position: absolute;
    
    /* Genişliği belirler */
    width: 80vw;
    
    /* Yatay ve dikey olarak merkeze hizalamayı sağlar */
    transform: translate(-50%, -50%);
    
    /* Yukarıdan aşağıya yüzdeye göre konumlandırır */
    top: 50%;
    
    /* Soldan sağa yüzdeye göre konumlandırır */
    left: 50%;
    
    /* İçeriği birbirine hizalar */
    display: flex;
}
.container{
    width: 28vmin;
    height: 28vmin;
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    po
}
i{
    color: #18f98f;
    font-size: 2.5em;
    text-align: center;
}
span.num{
    color: #ffffff;
}