* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #f7f9fd;
}
.container {
    width: 90vw;
    max-width: 62.5em;
    position: relative;
    margin: auto;
}
.add-flashcard-con {
    display: flex;
    justify-content: flex-end;
    padding: 1.2em 1em;
  }