* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#8bc6ec, #9599e2) ;
}

#container{
    position: relative;
    padding: 7px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}