/* Temel stil ayarları */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e6511c; /* Turuncu arka plan rengi */
    color: white;
}

/* Başlık alanı */
.header {
    text-align: center;
    padding: 40px 20px; /* Üst ve alt padding azaltıldı */
    font-size: 2em; /* Font büyütüldü */
}

/* Sınıf kutularının bulunduğu alan */
.grades {
    display: flex;
    justify-content: center; /* Ortaya hizalama */
    margin: 10px 10; /* Üst ve alt margin değeri artırıldı */
}

/* Sınıf kutuları */
.grade {
    cursor: pointer;
    margin-top: 20px; /* 7. ve 8. sınıf kutuları arasındaki boşluk artırıldı */
}

/* Geniş kutu stili */
.oval-box-wide {
    border: 5px solid #f50404;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.5em; /* Yazı boyutu büyütüldü */
}

/* Dar kutu stili */
.oval-box-narrow {
    border: 3px solid #f50404;
    border-radius: 20px;
    padding: 10px;
    margin: 5px; /* Değiştirildi */
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.5em; /* Yazı boyutu büyütüldü */
}

/* 7. Sınıf ve 8. Sınıf yazılarının iç boşluklarını azaltma */
.oval-box-wide h2, 
.oval-box-narrow h2 {
    margin-top: 5px;    /* Üst boşluğu azaltıldı */
    margin-bottom: 5px; /* Alt boşluğu azaltıldı */
}

.content {
    display: flex; /* Yatay hizalama */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px; /* İçerikler arası boşluk */
}

.box {
    cursor: pointer;
}

.oval-box-wide:hover,
.oval-box-narrow:hover {
    background-color: rgb(12, 101, 235);
    color: black;
}
