/* CSS (style.css) */

/* Temel stil ayarları */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e6511c; /* Turuncu arka plan rengi */
    color: white;
}

/* Başlık alanı */
.header {
    text-align: center;
    padding: 20px;
}

/* Sınıf kutularının bulunduğu alan */
.grades {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

/* Sınıf kutuları */
.grade {
    cursor: pointer;
}

/* Geniş kutu stili */
.oval-box-wide {
    border: 5px solid #f50404; /* Mavi çerçeve rengi */
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
}

/* Dar kutu stili */
.oval-box-narrow {
    border: 3px solid #f50404; /* Mavi çerçeve rengi */
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    transition: background-color 0.3s,
