/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
  padding: 0 30px;
}
#src-btn,
.screenshot {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}
