body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: orange; /* Turuncu arka plan rengi */
    color: khaki;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

#sayisal {
    color: white; /* Beyaz renk */
    background-color: red; /* Kırmızı arka plan rengi */
    padding: 15px;
    border-radius: 20px;
    font-size: 48px; /* Yazı boyutunu daha da artır */
    margin-bottom: 20px; /* Yazıların altına biraz boşluk bırak */
}

.center {
    display: flex;
}

.oval-box {
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 36px; /* Yazı boyutunu artır */
    background-color: red; /* Kırmızı arka plan rengi */
    color: white; /* Beyaz renk */
}

.logo {
    width: 600px; /* Logoyu 3 kat büyütmek için 200px'yi 600px olarak güncelledik */
    height: 600px; /* Logoyu 3 kat büyütmek için 200px'yi 600px olarak güncelledik */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.ders h1:first-child {
    border-right: 2px solid white;
}

.ders h1:last-child {
    margin-right: 0;
}
