body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-bg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
    width: 400px; /* Logoyu 2 katı büyüklüğünde ayarladık */
    height: 400px; /* Logoyu 2 katı büyüklüğünde ayarladık */
    margin-top: 20px;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

#sayisal {
    color: white;
    background-color: red;
    padding: 15px;
    border-radius: 20px;
    font-size: 48px;
    margin-bottom: 10px;
}

.center {
    display: flex;
}

.oval-box {
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 36px;
    background-color: red;
    color: white;
}

.ders h1:first-child {
    border-right: 2px solid white;
}

.ders h1:last-child {
    margin-right: 0;
}
