* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    color: khaki;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

#sayisal {
    color: khaki;
}

.ders {
    display: flex;
    align-items: center;
}

.ders h1 {
    margin: 0 10px; /* Yazılar arasına biraz boşluk ekleyin */
}

.ders h1:first-child {
    border-right: 2px solid white; /* İlk
